<footer>
    <!-- <div class="container">
        <div class="row row1">
            <div class="col">
                &copy; Codial
            </div>
            <div class="col">
                ABOUT US 
            </div>
            <div class="col">
                Follow Us
            </div>
        </div>
        <div class="row row2">
            <h5>&copy; 2021 Codial | All Rights Reserved</h5>
            <ul>
                <li>Disclaimer</li>
                <li>Privacy</li>
                <li>Contact Us</li>
            </ul>
        </div>
    </div> -->
    <footer class="text-center text-lg-start">
        <!-- Grid container -->
        <div class="container p-4">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">Codial</h5>
            </div>
            <!--Grid column-->
      
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
              <h5 class="text-uppercase">About Us</h5>
      
              <p>
                We are a biggner friendly social medial wesite. you can contact us for advertisement
              </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Follow us</h5>
                <div>
                    <a><i class="fab fa-facebook-square icon-large"></i></a>
                    <a><i class="fab fa-instagram-square"></i></a>
                    <a><i class="fab fa-linkedin"></i></a>
                    <a><i class="fab fa-twitter-square"></i></a>
                </div>
              </div>
              <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3 extra container" style="background-color: rgba(0, 0, 0, 0.2);">
          
          <h5>
            © 2021 Copyright:
            <a class="text-dark" href="/">Codial.com</a>
          </h5>
            <ul>
                <li>Disclaimer</li>
                <li>Privacy</li>
                <li>Contact Us</li>
            </ul>
        </div>
        <!-- Copyright -->
      </footer>
</footer>