<h1>This is a Sign In page</h1>
<form action="/users/create-session", method="POST">
    <input type="text" placeholder="Enter email" required='true' name="email">
    <input type="text" placeholder="Enter password" required='true' name="password">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
    