<h1>This is signUp page</h1>
<form action="/users/create", method="POST">
    <input type="text" placeholder="Enter name" required='true' name="name">
    <input type="text" placeholder="Enter email" required='true' name="email">
    <input type="text" placeholder="Enter password" required='true' name="password">
    <input type="text" placeholder="Confirm password" required='true' name="confirm-password">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
