#layout-footer{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    bottom: 0;
    position:relative;
    width: 100vw;
    a{
        color: white;
        text-decoration: none;
    }

    background: grey;
    padding: 5px 10px;
    .footer-nav{
        ul{
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-items: center;

                li{
                    padding-left:14px;
                    padding-right: 14px;
                }
        }
    }
}