#layout-footer {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  bottom: 0;
  position: relative;
  width: 100vw;
  background: grey;
  padding: 5px 10px; }
  #layout-footer a {
    color: white;
    text-decoration: none; }
  #layout-footer .footer-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #layout-footer .footer-nav ul li {
      padding-left: 14px;
      padding-right: 14px; }
